flask==1.1.2           # any ver
flask-mwoauth==0.4.82  # >=0.1.14
werkzeug==2.2.3        # >=0.9
cachelib==0.1
jinja2==2.11.2
MarkupSafe==1.1.1
PyJWT==1.7.1
Werkzeug==1.0.1
itsdangerous==1.1.0
future==1.0.0
oauthlib==3.2.2
PyJWT==1.7.1
requests==2.32.3
requests-oauthlib==2.0.0
urllib3==2.2.3


